@media (min-width: 961px) {
  section.header-wrap header.fix ul.nav li {
    margin: 0 15px ;
  }
  section.header-wrap header.fix ul.nav li.main {
    margin-left: 0;
  }
}
@media (max-width: 960px) {
  .wrap {
    padding: 0 10px;
  }
}
@media (min-width: 900px) {
  .proj .project-list {
    .open_world, .step, .play, .ruler {
      img {
        padding: 0 70px;
      }
    }
  }
}
